In [2]:
import numpy as np
import random
import string
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./retail_sales_dataset.csv')

In [4]:
df = df.replace(to_replace='Male', value='Masculino', regex=True)

In [5]:
df = df.replace(to_replace='Female', value='Feminino', regex=True)

In [6]:
df = df.rename(columns={"Transaction ID": "ID Transação", "Date": "Data", "Customer ID": "Matrícula Cliente", "Gender": "Genêro", "Age": "Idade", "Quantity": "Quantidade","Product Category": "Categoria", "Price per Unit": "Preço por unidade", "Total Amount": "Faturamento"})

In [7]:
df["Categoria"] = df["Categoria"].replace(to_replace='Beauty', value='Beleza', regex=True)
df["Categoria"] = df["Categoria"].replace(to_replace='Clothing', value='Vestuário', regex=True)
df["Categoria"] = df["Categoria"].replace(to_replace='Electronics', value='Eletrodomésticos', regex=True)

In [8]:
df.to_csv('./retail_sales_datasets.csv', index=False)

In [9]:
df1 = pd.read_csv('./codigo_lojas.csv')

In [10]:
df1

  COD_Lojas Unidade           Cidade  UF
0  A1B2C3D4  Matriz   Rio de Janeiro  RJ
1  E5F6G7H8  Filial          Vitoria  ES
2  I9J0K1L2  Filial            Goias  DF
3  M3N4O5P6  Filial        Fortaleza  CE

In [21]:
codigo_lojas_df = pd.read_csv('./codigo_lojas.csv')

available_codes = list(codigo_lojas_df['COD_Lojas'])

def generate_random_code():
    return random.choice(available_codes)

sales_df = pd.read_csv('./retail_sales_datasets.csv')

metodos_pagamento = ['Cartão de Crédito', 'Cartão de Débito', 'Boleto', 'Pix', 'Dinheiro']

def gerar_metodo_pagamento_aleatorio():
    return np.random.choice(metodos_pagamento)
    
sales_df['Metodo_Pagamento'] = sales_df.apply(lambda x: gerar_metodo_pagamento_aleatorio(), axis=1)

sales_df['Codigo Loja'] = [generate_random_code() for _ in range(len(sales_df))]

sales_df.to_csv('./retail_sales_datasets.csv', index=False)

In [22]:
sales_df.to_csv('./retail_sales_datasets.csv', index=False)

In [24]:
sales_df

,ID Transação,Data,Matrícula Cliente,Genêro,Idade,Categoria,Quantidade,Preço por unidade,Faturamento,Codigo Loja,Metodo_Pagamento
0,1,2023-11-24,CUST001,Masculino,34,Beleza,3,50,150,M3N4O5P6,Cartão de Débito
1,2,2023-02-27,CUST002,Feminino,26,Vestuário,2,500,1000,A1B2C3D4,Boleto
2,3,2023-01-13,CUST003,Masculino,50,Eletrodomésticos,1,30,30,I9J0K1L2,Cartão de Crédito
3,4,2023-05-21,CUST004,Masculino,37,Vestuário,1,500,500,I9J0K1L2,Cartão de Débito
4,5,2023-05-06,CUST005,Masculino,30,Beleza,2,50,100,M3N4O5P6,Boleto
...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-05-16,CUST996,Masculino,62,Vestuário,1,50,50,A1B2C3D4,Cartão de Débito
996,997,2023-11-17,CUST997,Masculino,52,Beleza,3,30,90,M3N4O5P6,Pix
997,998,2023-10-29,CUST998,Feminino,23,Beleza,4,25,100,I9J0K1L2,Cartão de Débito
998,999,2023-12-05,CUST999,Feminino,36,Eletrodomésticos,3,50,150,I9J0K1L2,Boleto
999,1000,2023-04-12,CUST1000,Masculino,47,Eletrodomésticos,4,30,120,A1B2C3D4,Pix